/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
 .onyx-toolbar {
    height: 54px;
}
.content-heading {
    margin-bottom: 10px;
}
.list-header {
    width: inherit;
    height: 14px;
    line-height: 14px;
    padding: 10px;
    color: white;
    background-color: #555;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #0E0E0E;
    font-size: 14px;
    font-weight: bold;
}
.list-item {
    width: inherit;
    height: 44px;
    padding: 4px;
    color: white;
    background-color: #333333;
    border-bottom: 1px solid #0E0E0E;
    line-height: 44px;
    font-size: 18px;
}
.list-item.onyx-selected {
    background-color: MidnightBlue;
}
.onyx-groupbox {
    margin-bottom: 8px;
}
.onyx-groupbox input[type='password'], .onyx-groupbox input[type='text'] {
    width:100%;
}
.onyx-groupbox .onyx-picker-decorator button {
    width:100%;
    border: 0 !important;
    background: none !important;
    text-align: left;
    margin: 0;
    box-shadow: none;
    padding: 6px 8px 10px 8px;
}
.onyx-groupbox-header {
    padding: 3px 8px;
}
.networkSearch {
	padding-left: 10px;
	padding-top: 10px;
}
.group-item {
	padding: 10px;
    height: 52px; 
    line-height: 32px;
    border-bottom: 1px solid #AAAAAA;
}
.group-item-timezone{
	padding: 10px;
    height: 96px; 
    line-height: 20px;
    border-bottom: 1px solid #AAAAAA;
}
.error-popup {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
.padleft {
	padding: 8px;
}
.toggles {
	float: right;
	padding-top: 5px;
}
/*
 *   WiFi
 */
 .wifi-list-icon {
 	padding-top: 10px;
 	padding-right: 3px;
    margin-left: 8px;
    padding-bottom: 10px;
}
.wifi-join-button {
    padding: 8px 0;
    min-height: 27px;
    line-height: 27px;
    border: 1px solid #AAAAAA;
    border-top: 0px;
    border-radius: 0 0 8px 8px;
}
.wifi-join-button img {
    padding: 5px 7px 0 7px;
}
.wifi-message-status {
    font-size: 12px;
    color: grey;
    padding: 0px 0px 0px 3px;
}
.wifi-message-error {
    font-size: 16px;
    color: red;
    padding: 0px 0px 10px 8px;
}
.networks-scroll .group-item-wrapper:last-child .group-item {
    border-bottom: 0px;
}
.networks-scroll {
    border: 1px solid;
    border-top: 0;
    border-color: #AAAAAA;
}
.group-item-wrapper {
    padding: 0 8px;
}
.config-label {
    display: inline;
    text-transform: uppercase;
    color: DodgerBlue;
    font-weight: bold;
}
.content-wrapper {
    padding: 35px 0 85px 0;
}
.content-aligner {
    max-width: 400px;
    margin: auto;
    padding: 0 10px 0 10px;
}
.content-aligner button {
    margin: 10px 0 0 0;
    width: 100%;
}
.timezone-list {
	padding: 10px;
}
.timezone-item  {
	padding-left: 4px;
	padding-right: 4px;
}
.popup  {
	width: 350px;
	height: 400px;
}

.list-sample-list {
	height: 365px;
	width: 50%;
	min-width: 300px;
	max-width: 600px;
	margin: auto;
	background-color: #eee;
}
.list-sample-item {
	border: 1px solid silver;
	padding: 18px;
	font-size: 18px;
	font-weight: bold;
}
.list-sample-index {
	font-size: 16px;
	font-weight: normal;
}
.list-sample-selected {
	background-color: #c4e3fe;
}

.columns {
	border: 2px solid red;
}

/* needed to make onyx-highlight more specific for highlighting to work */
.onyx-highlight.list-sample-selected {
	background-color: #dedfdf;
}
