.nice-padding {
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.center {
	text-align: center;
	margin: 0px auto;	
}

.changes-display {
	width: 90%;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2.5%;
}

.vspacer {
	height: 7.5%;
}
